<article class="article-container">
    <div class="article-header">
        <img *ngIf="elements$ | async as element" [src]="element.imageUrl" [alt]="element.name">
        <h1 *ngIf="elements$ | async as element">{{ element.name }}</h1>
    </div>

    <ng-container *ngFor="let section of sections$ | async; let i = index;">
        <div class="article-content" [innerHTML]="section">
        </div>
        <app-leader-board-ad *ngIf="i % 3 === 0"/>
    </ng-container>

    <ng-container *ngIf="lang$ | async as lang">
        <div class="article-footer">
            <a *ngIf="lang === 'en'" routerLink="/" class="back-button">← Back to Supplements</a>
            <a *ngIf="lang === 'fr'" routerLink="/" class="back-button">← Retour aux Suppléments</a>
        </div>
    </ng-container>
</article>