<nav class="nav-menu">
    <ul class="main-menu">
        <li>
            <a *ngIf="lang === 'en'" routerLink="/en" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
            <a *ngIf="lang === 'fr'" routerLink="/fr" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Accueil</a>
        </li>
        <li class="has-submenu" *ngFor="let type of (types$ | async)">
            <a routerLink="/{{lang}}/{{formatWordForUrl(type)}}" routerLinkActive="active">{{ type }}</a>
            <ul class="submenu">
                <li *ngFor="let category of categories$ | async">
                    <a *ngIf="type === category.type"
                            [routerLink]="[this.lang, formatWordForUrl(type), formatWordForUrl(category.name)]"
                            routerLinkActive="active">
                        {{ category.name}}
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a *ngIf="lang === 'en'" routerLink="/en/about" routerLinkActive="active">About</a>
            <a *ngIf="lang === 'fr'" routerLink="/fr/a_propos" routerLinkActive="active">À propos</a>
        </li>
    </ul>
</nav>